<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Vue Template</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="Style.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div class="nav-bar">
            <h1>{{ intro }}</h1>
            <p>skib</p>
            <div class="new-trade">
                <input v-model="newName" placeholder="Aktienavn" />
                <input v-model.number="newPurchasePrice" placeholder="Købspris (hvis køb)" />
                <input v-model.number="newSalePrice" placeholder="Salgspris (hvis salg)" />
                <input v-model.number="newQuantity" type="number" min="1" placeholder="Antal" />
                <button v-on:click="addStock">Tilføj handel</button>
            </div>

            <button v-on:click="showBuyOnly">Vis kun køb</button>
            <button v-on:click="showSellOnly">Vis kun salg</button>
            <button v-on:click="showAll">Vis begge</button>

            <p v-if="errorMessage" style="color: red;">{{ errorMessage }}</p> <!-- Error message display -->

            <ul>
                <li v-for="stock in stocks" :key="stock.name"
                    v-show="(filterType === 'both') ||
                            (filterType === 'buy' && stock.purchasePrice !== null) ||
                            (filterType === 'sell' && stock.salePrice !== null)">
                    <h2 :class="{'buy': stock.purchasePrice !== null, 'sell': stock.salePrice !== null}">{{ stock.name }}</h2>
                    <p v-if="stock.purchasePrice !== null" >BuyPrice: {{ stock.purchasePrice }}</p>
                    <p v-if="stock.salePrice !== null" >SellPrice: {{ stock.salePrice }}</p>
                    <p>Quantity: {{ stock.quantity }}</p>
                    <p>Sum: {{ stock.sum() }}</p>
                </li>
            </ul>


            <button v-on:click="totalPortofoile">Beregn porteføljens værdi</button>
            <p>Samlet portefølje værdi: {{ portfolioValue }}</p>
        </div>
    </div>

    <!-- Import App -->
    <script src="main.js"></script> 
    <script> 
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>


